<div class="login-header">
  <h1>Login</h1>
</div>
<div>
  <form class="login-form">
  <div class="form-group">
    <label class="custom-field">username</label>
    <input id="username-login" for="user" type="text" class="form-control" >
  </div>
  <div class="form-group">
    <label class="custom-field">password</label>
    <input id="password-login" for="pass" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary custom-btn login-btn">login</button>
</form>
</div>


<script src="./js/login.js"></script>