<div class="login-header">
  <h1>Sign up</h1>
</div>
<div>
  <form class="login-form">
  <div class="form-group">
    <label for="username-signup" class="custom-field">username</label>
    <input id="username-signup"  type="text" class="form-control" >
  </div>
  <div class="form-group">
    <label for="password-signup" class="custom-field">password</label>
    <input id="password-signup"  type="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary custom-btn signup-btn">sign up</button>
</form>
</div>


<script src="./js/signup.js"></script>